* {
  margin: 0px;
  padding: 0px;
  max-width: 1320px;
 
}

body{
  font-family: "Inter", sans-serif;
}

p {
  color: rgba(7, 2, 17, 0.6);
  /* font-size: 16px;
  font-weight: 400; */
  line-height: 25.6px;
}

/*-------------- header styles ------------------*/
header {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/image-of-banner.png");
  height: 480px;
  margin: 50px 110px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 12.8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-text-container {
  text-align: center;
  color: white;
  width: 500px;
}

.banner-text-container h2 {
  font-size: 58px;
  font-weight: 900;
  line-height: 76px;
  font-family: "Merriweather", serif;
}

.banner-text-container h5 {
  font-size: 26px;
  font-weight: 400;
  font-family: "Merriweather", serif;
}

/* ==================main starts ===================*/
/*---------------- discount styles------------------ */
.discount {
  text-align: center;
}

.discount-text h3 {
  color: #f00;
  text-align: center;
  font-size: 70.4px;
  font-weight: 700;
  margin-bottom: 38.4px;
  margin-top: 100px;
}

.discount-text h4 {
  color: #f00;
  text-align: center;
  font-size: 19.2px;
  font-weight: 500;
  margin-bottom: 8px;
}

.discount-text h2 {
  color: #070211;
  text-align: center;
  font-size: 38.4px;
  font-weight: 700;
}

.discount-img img {
  width: 650px;
  margin-top: 38.4px;
}

/*--------------welcome-party section--------------- */

.welcome-party {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  height: 470px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  margin: 100px 110px;
  border-radius: 12.8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 120px;
}

.welcome-party-text-container {
  color: white;
  width: 500px;
}

.welcome-party-title {
  font-size: 51.2px;
  font-family: "Merriweather", serif;
}

.welcome-party-description {
  color: rgba(255, 255, 255, 0.8);
  line-height: 24px;
  margin-bottom: 28px;
}

.welcome-party button {
  color: white;
  border: none;
  background-color: black;
}

/* -------------------schedule styles--------------- */

.schedule {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 110px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  height: 440px;
  border-radius: 10px;
}

.schedule div {
  text-align: center;
}

.schedule div h5 {
  font-size: 25.6px;
  font-weight: 600;
  line-height: 44.8px;
}

.schedule div span {
  color: #f00;
}

.schedule div button {
  padding: 12.8px 25.6px;
  color: white;
  border: none;
  background-color: #f00;
  border-radius: 6.4px;
  font-weight: 700;
  margin-top: 30px;
}

/*----------------coming soon styles----------------*/
.coming-soon {
  margin: 100px 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coming-soon-left-side {
  width: 310px;
}
.coming-soon-right-side {
  width: 220px;
}

.coming-soon-left-side h3 {
  color: #f00;
  font-size: 19.2px;
  font-weight: 500;
}

.coming-soon-left-side h2 {
  color: #070211;
  font-size: 38.4px;
  font-weight: 900;
  margin-bottom: 17.6px;
  margin-top: 14px;
  font-family: "Merriweather", serif;
}

.ellipse-img-container {
  border: 12px solid #f00;
  border-radius: 50%;
}

.ellipse-img-container div {
  border: 39.2px solid white;
  border-radius: 50%;
}
.ellipse-img-container img {
  width: 290px;
}

.coming-soon-right-side h2 {
  color: #f00;
  font-size: 38.4px;
  font-weight: 700;
}

.coming-soon-right-side img {
  width: 110px;
}

.coming-soon-second-img {
  margin-top: 34.4px;
}

/* -------------------sale styles -----------------*/
.sale {
  margin: 100px 110px;
  width: 1056px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sale-text-container {
  text-align: center;
  margin-bottom: 30px;
}

.sale-text-container h5 {
  color: #070211;
  font-size: 19.2px;
  font-weight: 500;
}

.sale-text-container h2 {
  font-size: 57.6px;
  font-weight: 900;
  margin-bottom: 22.4px;
  font-family: "Merriweather", serif;
}
.sale-text-container h2 span {
  color: #f00;
}

.sale-text-container p {
  width: 750px;

  font-weight: 500;
}

/*---------------sale images---------------------*/
.sale-img-container {
  width: 1056px;
  position: relative;
  height: 530px;
  /* border: 2px solid blueviolet; */
}

.sale-rectangle-img-container {
  background-image: url("../images/Rectangle2.png");
  height: 530px;
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 16px 0px 16px 16px;
}

.sale-girl-img-container {
  position: absolute;
  top: 0px;
  right: 0px;
}
.sale-girl-img {
  height: 301px;
}

.sale-box-img-container {
  position: absolute;
  top: 20px;
  left: 80px;
}

.sale-box-img {
  height: 452px;
}

/* .sale-box-img-container{
  background-image: url("../images/Group75.png");
  height: 452px;
  background-repeat: no-repeat;
  background-position: bottom;

 

} */

.sale-circle-img-container {
  position: absolute;
  top: 60px;
  right: 220px;
}

.sale-circle-img {
  width: 200px;
}

/* --------------------portfolio styles--------------- */

.portfolio {
  margin: 100px 110px;
}

.portfolio-text {
  width: 700px;
  margin-bottom: 38.4px;
}

.portfolio-text h4 {
  color: #f00;
  font-size: 19.2px;
  font-weight: 500;
}

.portfolio-text h3 {
  color: #070211;
  font-size: 38.4px;
  font-weight: 900;
  font-family: "Merriweather", serif;
  margin-bottom: 17.6px;
  margin-top: 12.8px;
}

.portfolio-images-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 19.2px;
}

.portfolio-images-container img {
  width: 339.2px;
}

/* --------------------subscribe styles-------------- */
.sub-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 492px;
  border-radius: 12.8px;
  background: rgba(255, 0, 0, 0.05);
  margin: 100px 110px;
}

.sub {
  text-align: center;
}
.sub-letter img {
  width: 120px;
}

.sub-text {
  margin-bottom: 38px;
  margin-top: 32px;
}

.sub-text h3 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 38.4px;
}

.sub-text p {
  width: 700px;
  margin-top: 17px;
}

.sub-container button {
  border-radius: 0px 40px 40px 0px;
  background: #f00;
  width: 168px;
  height: 57.6px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  border: 0px;
  margin-left: 0px;
}

.sub-container input {
  width: 168px;
  height: 57.6px;
  margin-right: 0px;
  border: 0px;

  border-radius: 40px 0 0 40px;
  background-color: #fff;
  width: 350px;
  padding-left: 28px;
  color: rgba(7, 2, 17, 0.3);

  font-size: 14px;
}

/* =========   footer  ============ */
footer {
  margin: 100px 0px 0px 0px;
  padding-left: 110px;
  padding-right: 110px;
  padding-top: 86px;
  background-color: #070211;
  color: #fff;
  height: 485px;
}

.footer-up,
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.footer-address,
.phone {
  margin-bottom: 12px;
}

.phone,
.web {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.phone img,
.web img {
  width: 16px;
  margin-right: 10px;
  margin-top: 5px;
}

footer h5,
footer a {
  font-size: 19.2px;
  font-weight: 500;
}

.socials {
  margin-top: 38.4px;
  margin-bottom: 38.4px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-imgs {
  width: 262px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials img {
  width: 51.2px;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer hr {
  height: 1px;
  border: none;
  margin: 0px;
  background-color: rgba(255, 255, 255, 0.15);
}
